<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271786800003-i6rgpc6n4l9u42480n8mkku8cl6gejbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271786800003-i6rgpc6n4l9u42480n8mkku8cl6gejbb</string>
	<key>API_KEY</key>
	<string>AIzaSyCZCgjp-8zsBWFuSXI67CTsWzVLDM8OabE</string>
	<key>GCM_SENDER_ID</key>
	<string>271786800003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNewsapp</string>
	<key>PROJECT_ID</key>
	<string>news-73633</string>
	<key>STORAGE_BUCKET</key>
	<string>news-73633.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271786800003:ios:c714014f15e3f18af8fcb6</string>
</dict>
</plist>